* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

header {
    margin: 20px 0;
    
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}

header h1 {
    font-size: xx-large;
}

figure {
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    background-color: white;
}

#image{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

#tribute-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;

}

ul{
    display: flex;
    flex-direction: column;
    height: 400px;
    /* align-items: center; */

    width: 70%;
    justify-content: space-around;
    /* border: 1px solid red; */
    padding: 1rem;

    font-size: 1.4rem;
}

.speach{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: left;
    padding: 1rem;
    font-size: 1.2rem;
}

p{
    margin-bottom: 1rem;
}

#tribute-link{
    padding: 1rem;
}

#tribute-link a{
    color: #001277;
}